version: '3.8'

services:
  mongo1:
    image: mongo:latest
    container_name: mongo_node1
    ports:
      - "27017:27017"
    networks:
      - mongo-network

  mongo2:
    image: mongo:latest
    container_name: mongo_node2
    ports:
      - "27018:27017"
    networks:
      - mongo-network

  storage:
    build:
      context: ./part2-distributed-storage
    container_name: storage_service
    depends_on:
      - mongo1
      - mongo2
    networks:
      - mongo-network
    volumes:
      - ./part2-distributed-storage:/app
    # Pasamos URIs de Mongo usando los nombres de servicio (puerto 27017 dentro de la red)
    command: ["python", "storage_system.py", "--uri1", "mongodb://mongo1:27017", "--uri2", "mongodb://mongo2:27017"]
    restart: "no"

networks:
  mongo-network:
    driver: bridge
